// compileNested: ../$1.css

@import "theme-function";

/* =======================================

	CommonElements

======================================= */
body {
	font-size: 18px;
	line-height: 160%;
  color: $txt-color;
  font-family: $font;	font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "ＭＳ Ｐゴシック", "MS P Gothic", Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	background: #fff;
	position: relative;
	overflow: hidden;
	visibility: hidden;
  @media only screen and (max-width: 600px ) {
	font-size: 14px;
  }
}

a:link { text-decoration:nderline; color: #0000ff;}
a:visited { text-decoration:nderline; color: #0000ff;}
a:active { text-decoration:nderline; color: #0000ff;}
a:hover { text-decoration:none; color: #0000ff;}


/* #container
--------------------------- */
#container {
	top: 0;
	left: 0;
	width: 100%;
	position: absolute;
	z-index: 1;
}

/* .stageBase
--------------------------- */
.stageBase {
	width: 100%;
	position: relative;
	overflow: hidden;
}
.stageBase .fieldWrap {
	padding: 100px 0 0 0;
	text-align: center;
}


/* .stageSlide
--------------------------- */
.stageSlide {
	position: relative;
	overflow: hidden;
	visibility: hidden;
}
.stageSlide .slideWrap {
	top: 0;
	left: 0;
	position: absolute;
	overflow: hidden;
}
.stageSlide .slideWrap:before,
.stageSlide .slideWrap:after {
	content: " ";
	display: table;
}
.stageSlide .slideWrap:after {clear: both;}
.stageSlide .slideWrap {*zoom: 1;}

.stageSlide .slidePanel {
	float: left;
	overflow: hidden;
}

.stageSlide .sdPrev,
.stageSlide .sdNext {
  display: none;
}

.stageSlide .slideNav {
  display: none;
}

/* #pageNav
--------------------------- */
#pageNav {
	top: 0;
	right: 25px;
	width: 15px;
	text-align: center;
	position: fixed;
	z-index: 2;
}
#pageNav ul {
	width: 15px;
	display: block;
}
#pageNav ul li {
	padding-bottom: 5px;
	width: 15px;
	height: 15px;
	display: block;
	overflow: hidden;
}
#pageNav ul li a {
	width: 15px;
	height: 15px;
	background: transparent url(./images/special/nav/nav.png) no-repeat center center;
	display: block;
}
#pageNav ul li.activeStage a {
	background: transparent url(./images/special/nav/nav_acv.png) no-repeat center center;
}

/* #pageDown
--------------------------- */
#pageDown {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	text-align: center;
	position: fixed;
	overflow: hidden;
	z-index: 3;
}
#pageDown a {
	margin: 0 auto;
	width: 30px;
	height: 30px;
	background: transparent url(./images/special/nav/next_arw.png) no-repeat center center;
	display: block;
}

/* ---------------------------
 #Base
--------------------------- */

@media only screen and (min-width: 801px ){
  .sp-box{
    display: none;
  }
}

  @media only screen and (max-width: 800px ){
    .pc-box{
      display: none;
    }
  }

a{
  position: relative;
  color: $txt-color;
  &:hover{
    color: $txt-color;
    text-decoration: none;
    position: relative;
    top:2px;
    left:2px;
  }
  &:active{
    color: $txt-color;
  }
  &:focus{
    color: $txt-color;
    outline: none;
  }
  &:visited{
    color: $txt-color;
  }
}

/* ---------------------------
 #Animetion
--------------------------- */

@keyframes fuwafuwa {
  0% {position: relative; top:0px; }
  100% {position: relative; top:5px;}
}

@keyframes fadein {
  0% { opacity: 0; filter: alpha(opacity=0);}
  50% { opacity: 0; filter: alpha(opacity=0);}
  90% { opacity: 100; filter: alpha(opacity=100);}
  100% { opacity: 100; filter: alpha(opacity=100);}
}

@keyframes bottomin {
  0% {position: absolute; bottom: -500px;}
  90% {position: absolute; bottom: -500px;}
  100% {position: absolute; bottom: -20px;}
}



/* ---------------------------
 #site-branding
--------------------------- */
.site-branding{
  background: #fff;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  text-align: left;
  a{
    text-decoration: none;
  }
  .site-title{
    max-width: 1200px;
    width: 90%;
    padding: 0.5em 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    img{
      max-width: 200px;
    }
    .sub-site-title{
      background: $main-color;
      color: #fff;
      padding: 0 0.5em;
      border-radius: 3px;
      font-size: 0.7rem;
      font-weight: normal;
      display: inline-block;
      margin-top: 0.5em;
      line-height: 150%;
    }
    .link-top{
      font-size: 0.7em;
      border: 1px solid #888;
      color: #888;
      border-radius: 5px;
      padding: 0.5em;
      white-space: nowrap;
      &:hover{
        top:0;
        left:0;
        transition: 0.2s;
        background: $gray-color;
      }
    }
  }
  @media only screen and (max-width: 600px ) {
    .site-title{
      img{
        max-width: 140px;
      }
      .sub-site-title{
        font-size: 0.5rem;
      }
    }
  }
}


/* ---------------------------
 #Base-box
--------------------------- */
.stageBase{
  .fieldWrap{
    .character-list{
      max-width: 1100px;
      width: 90%;
      margin: 2em auto;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      .character-list-item{
        padding: 0 2em;
        margin-bottom: 1em;
        box-sizing: border-box;
        &.chara-1, &.chara-3, &.chara-5{
          img{
            animation: fuwafuwa 2s ease -2s infinite alternate;
          }
        }
        &.chara-2, &.chara-4{
          img{
            animation: fuwafuwa 2s ease -1s infinite alternate;
          }
        }
      }
    }
    .link-list{
      margin: 3em auto;
      text-align: center;
      animation: fadein 6s ease 0s 1;
      .link-list-item{
        margin-bottom: 1em;
        a{
          color: #fff;
        }
      }
      .slide-btn{
        margin: 2em auto;
        img{
          max-height: 80%;
        }
      }
    }
  }
  @media only screen and (max-width: 800px ) {
    .fieldWrap{
      .character-list{
        width: 96%;
        margin: 3em auto 1em auto;
        .character-list-item{
          padding:0 1%;
        }
      }
      .link-list{
        width: 80%;
        margin: 2em auto;
      }
    }
  }
  @media only screen and (max-width: 600px ) {
    .fieldWrap{
      .character-list{
        margin: 2em auto 1em auto;
      }
      .link-list{
        margin: 1em auto;
      }
      .slide-btn{
        margin: 10px auto;
        img{
          max-height: 35px;
        }
      }
    }
  }
}

/* ---------------------------
 #ttl-box
--------------------------- */

.ttl-box{
  background:url(./images/special/bg01.png) no-repeat center top;
  background-size: cover;
  .fieldWrap{
    background-color:rgba(0,0,0,0.25);
    height: 100%;
    .sitettl{
      text-align: center;
      margin: 0 auto;
      img{
        animation: fadein 3s ease 0s 1;
      }
    }
  }
  @media only screen and (max-width: 800px ) {
    .fieldWrap{
      padding-top: 50px;
      .sitettl{
        max-width: 80%;
      }
    }
  }
  @media only screen and (max-width: 600px ) {
    .fieldWrap{
      .sitettl{
        max-width: 90%;
      }
      .character-list{
        margin: 2em auto 1em auto;
      }
      .link-list{
        margin: 1em auto;
      }
    }
  }
}

/* ---------------------------
 #txt-box
--------------------------- */

.txt01-box{
  background: #000;
  .txt01{
    position: absolute;
    width: 100%;
    top: 30%;
    left: auto;
    text-align: center;
    .txt-line{
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 1em auto;
      img{
        max-width: 100%;
      }
    }
    .letter{
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }
  .txt-down{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 3em;
    text-align: center;
    font-size: 3em;
    color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    a{
      color: #fff;
    }
  }
  &.activeStage{
    .txt01{
      .letter{
        opacity: 1;
        filter: alpha(opacity=100);
        transition: .2s;
      }
      .letter-1{
        transition-delay: .2s;
      }
      .letter-2{
        transition-delay: .3s;
      }
      .letter-3{
        transition-delay: .4s;
      }
      .letter-4{
        transition-delay: .6s;
      }
      .letter-5{
        transition-delay: .7s;
      }
      .letter-6{
        transition-delay: .8s;
      }
      .letter-7{
        transition-delay: .9s;
      }
      .letter-8{
        transition-delay: 1s;
      }
      .letter-9{
        transition-delay: 1.1s;
      }
      .letter-10{
        transition-delay: 1.2s;
      }
      .letter-11{
        transition-delay: 1.3s;
      }
      .letter-12{
        transition-delay: 1.4s;
      }
      .letter-13{
        transition-delay: 1.5s;
      }
      .letter-14{
        transition-delay: 1.6s;
      }
      .letter-15{
        transition-delay: 1.7s;
      }
      .letter-16{
        transition-delay: 1.8s;
      }
      .letter-17{
        transition-delay: 2s;
      }
      .letter-18{
        transition-delay: 2.1s;
      }
      .letter-19{
        transition-delay: 2.2s;
      }
      .letter-20{
        transition-delay: 2.3s;
      }
      .letter-21{
        transition-delay: 2.4s;
      }
      .letter-22{
        transition-delay: 2.7s;
      }
      .letter-23{
        transition-delay: 2.8s;
      }
      .letter-24{
        transition-delay: 2.9s;
      }
      .letter-25{
        transition-delay: 3s;
      }
      .letter-26{
        transition-delay: 3.1s;
      }
      .letter-27{
        transition-delay: 3.2s;
      }
      .letter-28{
        transition-delay: 3.3s;
      }
      .letter-29{
        transition-delay: 3.4s;
      }
      .letter-30{
        transition-delay: 3.5s;
      }
    }
    .txt-down{
      animation: fadein .8s ease 3.8s infinite alternate;
    }
  }
  @media only screen and (max-width: 800px ) {
    .txt01{
      .txt-line{
        img{
          max-height: 26px;
        }
      }
    }
  }
  @media only screen and (max-width: 600px ) {
  .txt01{
      top: 25%;
    }
  }
}

/* ---------------------------
 #about-box
--------------------------- */

.about-box{
  background:url(./images/special/bg03.jpg) no-repeat center top;
  background-size: cover;
  .fieldWrap{
    .slide-ttl{
      margin: 0 auto;
      text-align: right;
    }
    .box-2{
      max-width: 980px;
      width: 92%;
      margin: 0 auto;
      display: flex;
      flex-direction: row-reverse;
      .box-child-main{
        max-width: 500px;
        width: 80%;
        .about-txt{
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: flex-start;
          text-align: left;
          .slide-txt-child-txt{
            padding: 0 1em 0 2em;
          }
          .slide-txt-child-img{
            max-width: 170px;
            height: auto;
            img{
              animation: fuwafuwa 2s ease -1s infinite alternate;
            }
          }
        }
        .slide-btn{
          text-align: right;
        }
      }
      .box-child-sub{
        .slide-img{
          padding-top: 50px;
        }
      }
    }
    .king-message{
      display: none;
      img{
        max-width: 80%;
      }
    }
  }
  &.activeStage{
    .king-message{
      display: block;
      position: absolute;
      right: 3%;
      bottom: 0;
      animation: bottomin 4s ease -2s 1;
    }
  }
  @media only screen and (max-width: 800px ) {
    .fieldWrap{
      padding-top: 40px;
      .slide-ttl{
        margin: 0 auto;
      }
      .box-2{
        display: block;
        .box-child-main{
          max-width: none;
          width:100% ;
          .about-txt{
            align-items: flex-start;
            width: 100%;
            max-width: none;
            margin: 0 auto;
            padding: 0;
            .slide-txt-child-txt{
              padding: 0 1%;
              p{
                margin: 0 0 10px 0;
              }
            }
            .slide-txt-child-img{
              max-width: 14%;
              height: auto;
            }
          }
          .slide-btn{
            text-align: center;
            margin: 10px auto;
          }
        }
        .box-child-sub{
          .slide-img{
            padding-top: 0;
            max-width: 80%;
            margin: 0 auto;
          }
        }
      }
      .king-message{
        img{
          max-width: 94%;
        }
      }
    }
  }
  @media only screen and (max-width: 600px ) {
    .fieldWrap{
      padding-top: 20px;
    }
  }
}

/* ---------------------------
 #job-box
--------------------------- */
.job-box{
  background:url(./images/special/bg04.jpg) no-repeat center top;
  background-size: cover;
  .fieldWrap{
    .box-2{
      max-width: 980px;
      width: 92%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .slide-ttl{
        margin: 0 auto;
      }
      .slide-txt{
        text-align: left;
        padding-left: 2em;
      }
    }
    .job-list{
      max-width: 1200px;
      width: 92%;
      margin: 0 auto;
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
      .job-list-item{
        text-align: center;
        max-width: 16%;
        margin: 1% 2%;
        img{
          display: block;
        }
        .chara{
          max-width: 100px;
          margin: 0 auto;
        }
        .job{
          margin-top: -20px;
        }
        &.job-1, &.job-3, &.job-5{
          img.chara{
            animation: fuwafuwa 2s ease -2s infinite alternate;
          }
        }
        &.job-2, &.job-4{
          img.chara{
            animation: fuwafuwa 2s ease -1s infinite alternate;
          }
        }
      }
    }
    .slide-btn{
      text-align: center;
      margin: 2em auto;
    }
  }
  @media only screen and (max-width: 800px ) {
    .fieldWrap{
      padding-top: 30px;
      .box-2{
        display: block;
        .slide-ttl{
          max-width: 430px;
        }
        .slide-txt{
          padding: 0;
        }
      }
      .job-list{
        .job-list-item{
          max-width: 20%;
          margin: 1% 0;
          .job{
            margin-top: -5px;
          }
        }
      }
      .slide-btn{
        margin: 2em auto;
      }
    }
  }
  @media only screen and (max-width: 600px ) {
    .fieldWrap{
      padding-top: 0;
      .box-2{
        .slide-ttl{
          max-width: 80%;
        }
        .slide-txt{
          p{
            margin: 0;
          }
        }
      }
      .job-list{
        .job-list-item{
          .chara{
            max-width: 40px;
          }
        }
      }
      .slide-btn{
        margin: 10px auto;
      }
    }
  }
}


/* ---------------------------
 #step-box
--------------------------- */
.step-box{
  background:url(./images/special/bg05.jpg) no-repeat center top;
  background-size: cover;
  color: #fff;
  .fieldWrap{
    .box-2{
      max-width: 980px;
      width: 92%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .box-child-main{
        .slide-ttl{
          margin: 0 auto;
        }
        .slide-txt{
          text-align: left;
          padding:1em 0;
          display: flex;
          align-items: flex-start;
          .slide-txt-child-txt{
            max-width: 450px;
            padding: 0 2em;
          }
          .slide-txt-child-img{
            width: 100px;
            min-width: 100px;
            img{
              animation: fuwafuwa 2s ease -1s infinite alternate;
            }
          }
        }
      }
      .box-child-sub{
        opacity: 0;
      }
    }
    .slide-btn{
      text-align: center;
      margin: 2em auto;
    }
  }
  &.activeStage{
    .fieldWrap{
      .box-2{
        .box-child-sub{
          opacity: 1;
          transition: 1s;
          transition-delay: 1s;
        }
      }
    }
  }
  @media only screen and (max-width: 800px ) {
    .fieldWrap{
      .box-2{
        display: block;
        .box-child-main{
          .slide-ttl{
            max-width: 430px;
            margin: 0 auto 0 0;
          }
          .slide-txt{
            padding: 0;
            .slide-txt-child-txt{
              max-width: none;
              padding: 1em;
              p{
                margin: 0 0 0.5em 0;
              }
            }
          }
        }
        .box-child-sub{
          width: 50%;
          margin: 1em auto 0 auto;
        }
      }
      .slide-btn{
        margin: 2em auto;
      }
    }
  }
  @media only screen and (max-width: 600px ) {
    .fieldWrap{
      padding-top: 10px;
      margin: 0 auto;
      .box-2{
        .box-child-main{
          .slide-ttl{
            max-width: 80%;
          }
          .slide-txt{
            padding: 0;
            .slide-txt-child-txt{
              max-width: none;
              padding: 0 0 0 0.3em;
              p{
                margin: 0;
              }
            }
            .slide-txt-child-img{
              min-width: 36px;
            }
          }
        }
      }
      .slide-btn{
        margin: 10px auto;
      }
    }
  }
}

/* ---------------------------
 #member-box
--------------------------- */
.member-box{
  background:url(./images/special/bg06.jpg) no-repeat center top;
  background-size: cover;
  .fieldWrap{
    .slide-ttl{
      max-width: 980px;
      width: 92%;
      margin: 0 0 0 auto;
    }
    .box-2{
      max-width: 980px;
      width: 92%;
      margin: 0 auto;
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;
      justify-content: space-between;
      .box-child-main{
        .slide-txt{
          text-align: left;
          padding: 0;
          display: flex;
          align-items: flex-start;
          flex-direction: row-reverse;
          .slide-txt-child-txt{
            padding:0;
          }
          .slide-txt-child-img{
            width: 120px;
            min-width: 120px;
            img{
              animation: fuwafuwa 2s ease -1s infinite alternate;
            }
          }
        }
      }
      .box-child-sub{
        opacity: 0;
        a{
          margin-bottom: 2em;
          display: inline-block;
        }
      }
    }
    .slide-btn{
      text-align: right;
      margin: 0 auto;
    }
  }
  &.activeStage{
    .fieldWrap{
      .box-2{
        .box-child-sub{
          opacity: 1;
          transition: 1s;
          transition-delay: 1s;
        }
      }
    }
  }
  @media only screen and (max-width: 800px ) {
    .fieldWrap{
      .slide-ttl{
        max-width: 430px;
        margin: 0 0 0 auto;
      }
      .box-2{
        display: block;
        .box-child-main{
          .slide-txt{
            padding: 0;
            justify-content: center;
            .slide-txt-child-txt{
              max-width: none;
              padding: 1em;
              p{
                margin: 0 0 0.5em 0;
              }
            }
          }
          .slide-btn{
            text-align: center;
            margin: 0em auto 2em auto;
          }
        }
        .box-child-sub{
          width: 80%;
          margin: 1em auto 0 auto;
        }
      }
    }
  }
  @media only screen and (max-width: 600px ) {
    .fieldWrap{
      padding-top: 10px;
      .slide-ttl{
        max-width: 80%;
      }
      .box-2{
        display: block;
        .box-child-main{
          .slide-txt{
            .slide-txt-child-txt{
              padding: 0;
            }
            .slide-txt-child-img{
              min-width: 70px;
            }
          }
          .slide-btn{
            margin: 0 auto 10px auto;
            max-width: 88%;
          }
        }
        .box-child-sub{
          width: 70%;
          margin: 1em auto 0 auto;
          a{
            margin-bottom: 0.5em;
          }
        }
      }
    }
  }
}


/* ---------------------------
 #company-box
--------------------------- */
.company-box{
  background:url(./images/special/bg07.jpg) no-repeat center top;
  background-size: cover;
  .fieldWrap{
    .box-2{
      max-width: 980px;
      width: 92%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .slide-txt{
        text-align: left;
        padding:0 0 0 1em ;
      }
    }
    .activ-list{
      max-width: 1200px;
      width: 92%;
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .activ-list-item{
        img{
          max-width: 180px;
          animation: fuwafuwa 2s ease -1s infinite alternate;
        }
      }
      .item-even{
        padding-top: 4em;
        img{
          animation: fuwafuwa 2s ease -2s infinite alternate;
        }
      }
    }
  }
  @media only screen and (max-width: 800px ) {
    .fieldWrap{
      padding-top: 30px;
      .box-2{
        display: block;
        .slide-ttl{
          max-width: 430px;
          margin: 0 auto 0 0 ;
        }
      }
      .activ-list{
        flex-wrap: wrap;
        justify-content: center;
        .activ-list-item{
          width: 27%;
          margin: 0 3%;
          img{
            width: 100%;
          }
          &.item-even{
            padding-top: 0;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 600px ) {
    .fieldWrap{
      padding-top: 10px;
      .box-2{
        display: block;
        .slide-ttl{
          max-width: 80%;
        }
        .slide-txt{
          p{
            margin: 0;
          }
        }
      }
    }
  }
}

/* ---------------------------
 #footer-box
--------------------------- */

.footer-box{
  background:url(./images/special/bg08.png) no-repeat center top;
  background-size: cover;
  .fieldWrap{
    background: rgba(0,0,0,0.25);
    height: 100%;
    .footer-01{
      .slide-ttl{
        opacity: 0;
        filter: alpha(opacity=0);
        max-width: 90%;
        margin: 1em auto;
      }
      .character-list{
        opacity: 0;
        filter: alpha(opacity=0);
       .character-list-item{
         padding: 0;
       }
      }
    }
    .footer-02{
      position: absolute;
      top:0;
      left: 0;
      background: rgba(0,0,0,1);
      width: 100%;
      height: 100%;
      opacity: 0;
      .slide-txt{
        max-width: 90%;
        margin: 2em auto;
        padding-top: 80px;
      }
      .link-list{
        margin: 3em auto 2em;
      }
      .footer-logo{
        width: 200px;
        margin: 3em auto 2em;
      }
    }
  }
  &.activeStage{
    .fieldWrap{
      .footer-01{
        opacity: 0;
        filter: alpha(opacity=0);
        transition: 0.2s;
        transition-delay: 5.5s;
        .slide-ttl{
          opacity: 1;
          filter: alpha(opacity=100);
          transition: 0.8s;
          transition-delay: 1.5s;
        }
        .character-list{
          opacity: 1;
          filter: alpha(opacity=100);
          transition: 0.8s;
          transition-delay: 3s;
        }
      }
      .footer-02{
        opacity: 1;
        filter: alpha(opacity=100);
        transition: 3s;
        transition-delay: 5.7s;
      }
    }
  }
}
